<!-- <div class="container">
<div id='foot'> 
<ul id="sitefoot">

</ul>
</div>
</div> -->


<footer class="footer">
    <div class="container">
        <a class='lowkey'>© Locus Group 2018</a>
        <a class='lowkey' href='{%url "about" %}'>About</a>
        <a class='lowkey' href='{%url "contact" %}'>Contact</a>
        <a class='lowkey' href='{%url "staff" %}'>Staff</a>
    </div>
</footer>

<head>
<style>
    .footer {
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #fdfeff;
    }
</style>
