<style>
    nav {
        background: whitesmoke;

    }

    .navbar {
        font-size: 1.25rem;
        background: whitesmoke;
    }


    .nav-item {
        font-size: 20px;
        text-align: center;
    }

    .nav-item>.nav-link:hover {
        border-bottom: 5px solid #bd5734;
        font-weight: 600;
    }

    .navbar1 {
        margin-right: 75px;
        margin-left: 75px;
    }

    .navbar1 .nav-item .nav-link {
        height: 75px;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 75px;
    }

    .active {
        border-bottom: 5px solid #bd5734;
        font-weight: 600;
    }

    .logout {
        line-height: 60px;
    }

    .navbar-brand {
        margin-left: 50px;
        font-size: 2rem;
    }

    .username {
        font-size: 1rem;
        line-height: 60px;

    }

    .dropdown:hover>.dropdown-menu {
        display: block;
    }

    .login>.dropdown>.dropdown-menu,
    #reviewsMenu {
        border-radius: 0;
        border-top: None;
        border-left: None;
        border-right: None;
        border-color: #bd5734;
        width: 100%;
        background: whitesmoke;

    }

    #reviewsMenu {
        line-height: 3em;
        height: 3em;
        font-size: 18px;
        text-align: center;
    }

    .dropdown-menu>.dropdown-item:hover {
        border-bottom: 5px solid #bd5734;
    }
</style>


{% load static %}

<div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light p-0 fixed-top">
        <a class="navbar-brand" href="{%url 'home'  %}">
            <img class="navbar-brand" style="width:45px; height:auto; margin-bottom: 15px;" src="{% static 'graphics/iconcolored.png' %}"
                alt="logo">LOCUS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="navbar-toggler dropdown-toggle-split" type="button" data-toggle="collapse" data-target="#reviewsDropdown"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-fill w-100 navbar1">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'home' %}" id="home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href='{%url "reviews:list" %}' id="reviews">
                        Reviews
                        <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></div>
                    </a>
                    <div class="dropdown-menu p-0 m-0" id="reviewsMenu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item p-0 m-0" href="{% url 'reviews:create' %}">Make Review</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{%url "reviews:toplist" %}' id="toprated">Top Rated</a>
                </li>

                {% if not user.is_authenticated %}

                <li class="nav-item dropdown login">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown">
                        <div class="dropdown-menu dropdown-menu-right">
                            <form class="px-4 py-3" method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_username">Username</label>
                                    <input type="text" class="form-control" name="username" autofocus="" maxlength="254" required id="id_username" placeholder="username">
                                </div>
                                <div class="form-group">
                                    <label for="id_password">Password:</label>
                                    <input type="password" name="password" required id="id_password" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                    <label class="form-check-label" for="dropdownCheck">
                                        Remember me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'register' %}">New around here? Sign up</a>
                            <a class="dropdown-item" href="#">Forgot password?</a>
                        </div>
                    </div>
                </li>
                {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href='{%url "profiles:detail" username=request.user %}'>My Profile</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link logout" href="{% url 'profiles:logout' %}">Logout</a>
                </li>
                <span class="navbar-text username">
                    Logged in as:
                    <strong>{{request.user.get_username}}</strong>
                </span>
            </ul>
            {% endif %}
        </div>
    </nav>
</div>

<script>
    $(document).ready(function () {
        var listItems = $('.navbar ul li');

        $.each(listItems, function (key, litem) {
            var aElement = $(this).children(litem)[0];

            if (aElement == document.URL) {
                $(aElement).addClass('active');
            }
        });
    });
    $('body').on('mouseenter mouseleave', '.dropdown', function (e) {
        var _d = $(e.target).closest('.dropdown'); _d.addClass('show');
        setTimeout(function () {
            _d[_d.is(':hover') ? 'addClass' : 'removeClass']('show');
            $('[data-toggle="dropdown"]', _d).attr('aria-expanded', _d.is(':hover'));
        }, 300);
    });
    $(".login>a").on("click",  function () {
        console.log("click")
        if ($(".dropdown>.dropdown-menu").hasClass("show")) {
            $(".login>.nav-link").removeClass("active");
        } else {
            $(".login>.nav-link").addClass("active");
        }
    });
</script>