{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}

<h2>{{ object.title }}</h2>

<p>{{ object.location }}</p>
<p>Rating: {{ object.rating }}</p>
<p>{{ object.timestamp }}</p>
<p>{{ object.text }}</p>

<div class="container">
    <div id="upvoter">
    {% render_bundle 'vendors' %}
    {% render_bundle 'Main' %} 
    </div>
</div>

<p id ="votes">{{ object.votes }}</p>

<button>Downvote</button>

<p>Last updated: {{ object.updated }}</p>
<p>Written by: <a href="{%url 'profiles:detail' username=object.author %}">{{ object.author }}</a></p>
<p>Review Tags:</p>
<ul>
{% for tag in object.tags.all %}
<li><a href='{{tag.get_absolute_url}}'>{{ tag }}</a></li>
{% endfor %}
</ul>

{% endblock content %}



