.vscode
/django/node_modules
/django.db.sqlite3
/django.secretkey.py

/django/locus/__pycache__
/django/locus/settings/__pycache__
/django/reviews/__pycache__
/django/profiles/__pycache__
/django/locations/__pycache__

/django/locus/migrations
/django/reviews/migrations
/django/profiles/migrations

/locations/migrations
/django/webpack-stats-local.json
/django/reviews/src/russianstuff