ul#navbar {
   height: 0%;
   width: 100%;
   background-color: #FFCC66;
   list-style-type: none;	
}

.barkey {
    font-family:Courier New;
    color: red;
    font-size: 2em;
    padding: 0% 2%;
}

div#foot{
    bottom:0;
    position: absolute;
    width: 100%;
}

ul#sitefoot {
   height: 0%;
   width: 100%;
   background-color: #666666;
   list-style-type: none;	
}

.lowkey {
    font-family:sans-serif;
    color: #CCCCCC;
    font-size: 0.8em;
    padding: 0%;
    width:100%;
    height: 5%;
    padding: 0% 3%;
}
