{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block head_title %}{{ user.username }} | {{ block.super}}{% endblock head_title %}

{% block content %}
<h1>{{ user.username }}</h1>

<style>
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
</head>
<body>

<div class="row">
  
  <div class="column">
    <div class=Map></div>
  </div>
    <div id=root> HEJ </div>
</div>

</body>

{% for review in user.review_set.all %}
    <li>{{ review.title }}</li>
{% endfor %}

{% render_bundle 'vendors' %}
{% render_bundle 'ProfileMain' %}
{% render_bundle 'Main' %}
{% endblock %}