{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block head_title %}{{ user.username }} | {{ block.super}}{% endblock head_title %}
{% load static %}
{% block content %}
<div id='name' style='display:none;'> {{user.first_name }} {{user.last_name}} ({{ user.username }})</div>
<div id='email' style='display:none;'> {{user.email }} </div>


<body>

<div> {{ object.firstname }} </div>
<div> {{ object.image }} </div>

<!-- <div class="container"> 
    <div class="row">
    <div class='column'>
            
    </div>
    
    

        <div class="column">
                <div id=root> HEJ </div>
            <div class=Map></div>
            
        </div>
    </div>

</div> -->
    <div class="row">
        <div class="col-6">

            <form method='post' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p}}
                
                
                <button type='submit'> Ladda upp bild </button>
                
                 
             </form>
  


            <div><div class="Main" id="Main"></div>
        </div>
        <div class="col-3">
        <img src="{% static picture %}"/>

        </div>
        <div class="col-3">
            <div id=root> 
                 

             </div>
            
        </div>
    </div>
    <div class = "row">
    <div class = "col-6"></div>
    <div class = "col-6"><div class=Map></div></div>
    </div>
 



</body>


<!-- <div id="userreviewlist">
{% for review in user.review_set.all %}
    <li>{{ review.title }}</li><br />
{% endfor %}
</div> -->

{% render_bundle 'vendors' %}
{% render_bundle 'ProfileMain' %}
{% render_bundle 'Main' %}
{% endblock %}
