{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block head_title %}{{ user.username }} | {{ block.super}}{% endblock head_title %}
{% load static %}
{% block content %}
<div id='name' style='display:none;'> {{user.first_name }} {{user.last_name}} ({{ user.username }})</div>
<div id='email' style='display:none;'> {{user.email }} </div>
<div id='userid' style='display:none;'>{{user.id}}</div>
<style>
.imgname{position: absolute; left: 73%}
.revfield{margin-right: 30%; margin-left: 2%}
.Main{margin-top: 12%}
</style>

<body>


<div class="row">
        <div class="col-6 m-0 here">
            <img height="250" width="250" class=imgname src={{object.image.url}} />
            <h1 class="revfield" class=name>{{object.firstname}} {{object.lastname}}</h1>
                <h4 class="revfield">{{object.user}}</h4>
                <p class="revfield">{{ object.aboutme }}</p>
            <div class="Main" id="Main"></div>
        </div>
        <div class="col-6 m-0">
            <div>
                <div class=Map></div>
            </div>
        </div>
    </div>
 



</body>


<!-- <div id="userreviewlist">
{% for review in user.review_set.all %}
    <li>{{ review.title }}</li><br />
{% endfor %}
</div> -->

{% render_bundle 'vendors' %}
{% render_bundle 'ProfileMain' %}
{% render_bundle 'Main' %}
{% endblock %}
